@charset "UTF-8";
/*class . id #  */
html,body {
	width:100%;
	height:100%;
	margin:0;
	font-size:16px;
	font-family: Helvetica, '나눔고딕', 'Nanum Gothic', '나눔스퀘어', 'Nanum Square', 'Apple SD Gothic Neo', 'Malgun Gothic', '맑은 고딕', Dotum, '돋움', sans-serif;
}
.talent_detail_body_container{
	width:100%;
	height:100%;
}
.talent_detail_header_container{
	width:100%;
	height:15%;
}
.talent_detail_content_container{
	width:85%;
	margin-right:15%;
	height:auto;
	display: flex;
}
.talent_detail_content_sidebar_container{
	width:15%;
	height:auto;
	margin-right:0;
}
.price_h2{
	font-size: 2em;
	font-weight: bolder;
	width:100%;
	height:100%;
}
.purchasebtn{
	width:100%;
	height:100%;
	background-color: RED;
	font-size: 2em;
	font-weight: bolder;
}
.review_td{
	text-align: center;
}
.talent_detail_content{
	width:80%;
	height:auto; 
	min-height:1500px; 
	margin-left:3%;
}

.talent_detail_title_container{
	width:100%;
	height:auto;
}
.talent_detail_title_container h2{
	font-size:2em;
	vertical-align: middle;
	margin-top:30px;
	margin-bottom:30px;
	
}
.talent_detail_price_purchasebtn_container{
	width:100%;
	height:65px;
}
.talent_detail_price_container{
	float:left;
	width:70%;
	height:65px;
} 
.talent_detail_purchasebtn_container{
	float:right;
	width:30%;
	height:65px;
}

.talent_detail_infomation{
	width:100%;
	height:auto;
	min-height:650px;
}
.talent_detail_review_list_container{
	width:100%;
	height:auto;
	margin-bottom: 5%;
}
.talent_detail_review_register_container{
	width:100%;
	height:auto;
	min-height:200px;
}
.detail_review_header{
	width:40%;
	height:25px;
}
.detail_review_header_w{
	width:10%;
	height:25px;
}
.detail_review_header_s{
	width:10%;
	height:25px;
}
.detail_review_header_r{
	width:20%;
	height:25px;
}

input {
	width:50%;
}
th{
	width:20%;
	
}
 .talent_detail_review_list_container h1{
 	font-size:2.5em;
 	margin-bottom:15px;
 	padding-bottom:10px;
 	border-bottom: 0.5px solid rgb(213,230,213);
 }
 .talent_detail_review_list_container .table1 tr{
	display:inline-block;
	margin-bottom:15px;
	width:100%;
	height:auto;
	border-bottom: 0.5px solid rgb(213,230,213);

}
.talent_detail_review_list_container .table1 td{
	display:block;
	width:100%;
	text-align: left;
} 

td span{
	font-weight: bolder;
	font-size:1.2em;
	color: RED;
}

.talent_detail_footer_container{
	width:100%;
	height:auto;
	min-height:250px;
}

	

.star-rating {
  display:flex;
  flex-direction: row-reverse;
  font-size:1.5em;
  justify-content:space-around;
  padding:0 .2em;
  text-align:center;
  width:5em;
}

.star-rating input {
  display:none;
}

.star-rating label {
  color:#ccc;
  cursor:pointer;
}

.star-rating :checked ~ label {
  color:#f90;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color:#fc0;
}

.talent_detail_infomation h2{
	font-size:2em;
	margin-bottom:15px;
}
table td input{
	min-width: 96px;
}