@charset "UTF-8";

#pic_big_box{
	width: 75%;
	height:42%;
	display: flex;
	margin: auto;
}

#pic_box{
	width: 75%;
	height:42%;
	display: flex;
	margin: auto;
}

#pic1{
   border: 1px solid black;
   width: 24%;
   height: 220px;
   background-color:transparent;
   float:left;
}

