<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	</settings>
	
	<typeAliases>
		<typeAlias type="vo.MemberVo" alias="member"/>
		<typeAlias type="vo.BoardVo"  alias="board"/>
		<typeAlias type="vo.SellerVo" alias="seller"/>
		<typeAlias type="vo.TalentVo" alias="talent"/>
		<typeAlias type="vo.ReviewVo" alias="review"/>
		<typeAlias type="vo.ThumbVo"  alias="thumb"/>
		<typeAlias type="vo.PurchaseVo" alias="purchase"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="xml/talent.xml"/>
		<mapper resource="xml/member.xml" />
		<mapper resource="xml/board.xml" />
		<mapper resource="xml/review.xml"/>
		<mapper resource="xml/seller.xml"/>
		<mapper resource="xml/main.xml"/>
		<mapper resource="xml/purchase.xml"/>
		<!-- <mapper resource="config/mybatis/mapper/photo.xml" /> -->
	</mappers>
</configuration>