@charset "UTF-8";

.login_title_box {
	width: 100%;
}

.tp_main_layout {
	padding-top: 200px;
}

.login_title {
	text-align: center;
	font-size: 25pt;
	font-weight: bold;
}

.login_box {
	margin: auto;
}

.input_lgn {
	margin: auto;
    width: 180px;
    height: 30px;
    margin-left: 15px;
    border: none;
    border-radius: 0px;
    border-bottom: solid #4D5059 1px;
    color: #1A1A1A;
    background-color:#F5F7F6;
}

.clear_icon {
    border: 1px solid transparent;
    background-color: transparent;
    display: inline-block;
    position: relative;
    right: 25px;
    width: 15px;
	height: 17px;
	margin: auto;
    vertical-align: middle;
    text-align: center;
    color: #555C54;
    font-family: 'Major Mono Display';
    font-weight: 800;
    font-size: 10px;
}

.clear_icon:after {
	display: block;
	width: 15px;
	height: 17px;
	position: absolute;
	z-index:1;
	right: 35px;
	top: 0;
	bottom: 0;
	margin: auto;
	padding: 2px;
	text-align: center;
	color: #555C54;
	font-weight: normal;
	font-size: 10px;
	cursor: pointer;
}

.label_title {
	text-align: right;
}

/* bootstrap button */
.btn {
	width: 127px;
	height: 27px;
	padding: 4px 20px;
	border-radius: 7px;
	font-size: 15px !important;
	line-height: 0px !important;
}

.btn-warning {
    background-color: #fc8a17 !important;
}