@charset "UTF-8";

.tp_main_layout {
    height: 530px !important;
}

.new_title {
	text-align: center;
	font-size: 25pt;
	font-weight: bold;   
	text-align:center;
}

.join_page_form {
	width:1000px;
	margin: auto;
	margin-top: 100px; 
}

.join_page_div {
	float:left;
	width:1000px;
	margin-top: 50px;
}

.input_new {
	border: none;
	border-radius: 0px;
	border-bottom: solid #4D5059 1px;
	color: #1A1A1A;
	background-color:#F5F7F6;
	width: 270px;
	margin-top:5px;
	margin-left: 20px;
	margin-bottom: 15px;
}

.image_container {
	width:250px;
	height:446px;
	float:left;
}

.join_table {
	width: 510px;
	height: 350px;
}

.join_title{
	text-align: right;
	padding-bottom: 10px;
}

#addr_button {
	margin-left:10px;
	margin-bottom:7px;
}

.selectYMD {
	margin-left:13pt !important;
	margin-bottom: 10pt !important;
	width: 60pt !important;
}

.btn {
   width: 100px;
   height: 27px;
   padding: 4px 20px;
   border-radius: 7px;
   font-size: 15px !important;
   line-height: 0px !important;
}

.btn-warning {
    background-color: #fc8a17 !important;
}

.btn-ok {
   width: 280px;
}

