@charset "UTF-8";

.only_menu {
   width: 100%;
}

.only_menu2 {
   margin-top: -1%
   
}

.img_logo_only_menu {
   width: 145px;
   height: 135px;
   margin-top: -20%;
   cursor: pointer;
}

.item {
   margin-left:15%;
   font-size: 11pt;
}

.menu {
   background-color: #f2a21c!important;
}