@charset "UTF-8";

#review_write {
	width: 50%;
}

#image_container {
	width:50%;
	height: 50%; 
}

/* bootstrap button */
.btn {
	width: 127px;
	height: 27px;
	padding: 4px 20px;
	border-radius: 7px;
	font-size: 15px !important;
	line-height: 0px !important;
}

.btn-warning {
    background-color: #fc8a17 !important;
}

